# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java-version: [ 19 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'zulu'

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B verify -Pcode-coverage --file pom.xml

      - name: Code Coverage Report
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: |
            target/site/jacoco/jacoco.xml
            target/site/jacoco-it/jacoco.xml
          add-prefix: src/main/java/
